.site-footer {
  padding: 2em 0;
  text-align: center;
  color: #fff;
  background-color: $color_primary;
  font-family: $font__secondary;

  a {
    color: inherit;
  }
}

.site-info {
  display: flex;
  justify-content: space-between;
}