.site-header {
    background-color: $color_primary;
    background-image: linear-gradient(120deg, #541466 0%, #1AAFDF 94%, #17B9E6 100%);
    background-size: cover;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.03);
    font-size: 1rem;
    margin-bottom: 6em;
    padding: 0 0 1em;

    //center when branding collapsed
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 75px;
}

.site-branding {
    padding: 5em 0;
}

.site-title {
    color: #fff;
    font-size: 5em;
    margin: 0 0 1rem 0;
    line-height: 1.1;
    font-weight: 700;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.site-description {
    color: #fff;
    font-size: 1.9em;
    margin: 0;
}


//site logo
.site-logo {
  position: relative;

    a {
        position: fixed;
        z-index: 10;
        top: 18px;
        left: 3%;
        width: 4em;
        height: 4em;
        background: rgba($color__accent, 0.7);
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: center;

        &:hover,
        &:focus {
            outline: 1px solid #fff;
        }
    }
}

.site-firstletter {
  font-size: 2.5em;
  text-align: center;
}

