// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Global
--------------------------------------------------------------*/
.container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.site-main {
	font-size: 1em;
	width: $size__content-area;
	max-width: $size__content-area-max-width;
	margin: 0 auto;

}

.page-title {
	text-align: center;
	font-style: italic;
	font-size: 1.4em;
}

@media screen and (max-width: 700px){
	.site-main { font-size: 0.8em; }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .hentry,
.page .hentry {
	padding-bottom: 0;
}

.entry-title {
	margin-top: 1.5em;
	font-size: 2.8em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

@media screen and (max-width: 767px) {
	.entry-title {
		font-size: 2em;
		margin-top: 2em;
		line-height: 1.3em;
		text-align: center;
		word-wrap: break-word; /* Catch and wrap very long words on small screens */
	}
}

.entry-title a {
	color: inherit;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:focus {
	text-decoration: underline;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Post Meta */
.entry-meta {
	padding: 2em 0;

	a {
		color: $color__text-main;
		text-decoration: none;
	}

	.byline,
	.posted-on {
		display: block;
		padding:  0;
	}

	.entry-date { color: $color_text-gray; }

}

.author-avatar {
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 1.0em;
	margin-bottom: 0;

	img { border-radius: 50%; }
}

.post-header {
	margin: 1.5em 0 0;
}

.entry-footer,
.index-entry-meta {
	font-size: 95%;
	text-align: center;
}

.entry-footer span {
	margin: .5em 0;

	&:after {
		content: "|";
		padding: 0 1em;
	}

	&:last-of-type {
		content: "";
		padding: 0;
	}
}

.entry-footer span a,
.index-entry-meta a {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


//todo
.comments-area {
	margin: 4em 0;
}

@media screen and (min-width: 40em) {
	.comments-area {
		margin: 4em 1em;
	}
}

.comments-title {
	margin-bottom: 2em;
	font-size: 2em;
	text-align: center;
}

.comment-list {
	padding: 0;
	margin: 0;
}

.comment-list,
.comment-list ol {
	list-style-type: none;
}

.comment-body {
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 3em;
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	font-size: 80%;
}

.comment .avatar {
	position: absolute;
	left: -70px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.children {
	margin-left: 1em;
	padding-left: 0;
}

.comment .avatar {
	top: -5px;
}

@media screen and (min-width: 30em) {

	.children {
		margin-left: 2em;
	}

	.comment-meta {
		margin-left: 80px;
		font-size: 90%;
	}

	.comment .avatar {
		top: -7px;
		left: -80px;
		width: 60px;
		height: 60px;
	}

	.comment-content {
		margin-left: 80px;
	}

}
@media screen and (min-width: 50em) {

	.children {
		margin-left: 3em;
	}

	.comments-area {
		margin: 4em 3em;
	}

	.comment-meta {
		margin-left: 90px;
	}

	.comment .avatar {
		top: -8px;
		left: -90px;
		width: 70px;
		height: 70px;
	}

	.comment-content {
		margin-left: 90px;
	}
}

.comment-meta a {
	text-decoration: none;
}

.comment-meta a:hover,
.comment-meta a:focus {
	border-bottom: 2px solid #000;
}

.comment-metadata a:hover,
.comment-metadata a:focus {
	border-color: #c3c3c3;
}

.comment-author {
	font-size: 1.4em;
	line-height: 1.3em;
}

.says {
	font-size: 80%;
}

.comment-metadata {
    margin-top: .2em;
	padding-bottom: .5em;
	font-size: .8em;
	line-height: 1em;
}

.comment-metadata a {
	color: $color_text-gray;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
}

.reply a {
	display: inline-block;
	padding: .5em 1.4em;
	font-size: 85%;
	color: $color_text-gray;
	line-height: 1.3em;
	text-decoration: none;
	border: 1px solid #c3c3c3;
}

.reply a:hover,
.reply a:focus {
	background: #000;
	color: #fff;
	border-color: #000;
}

.comment-content ol {
	list-style-type: decimal;
}

.comment-content a {
	word-wrap: break-word;
}



//indexes
.index-article {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0 2px 0 1px rgba(0,0,0,0.08), 0 2px 2px 0 rgba(0,0,0,0.16);
	border-radius: 3px;
	min-height: 250px;
	margin-bottom: 35px;

	.article-body {
		padding: 15px 20px 15px 40px;
		width: 80%;
		margin-left: 20%;
	}

	.article-meta {
		padding: 15px 20px;
		width: 20%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		border-right: 1px solid $color_border;
	}

	.entry-title {
		margin: 0;
		font-size: 2.8rem;
	}

	.author {
		margin-bottom: 20px;
	}

	.author-avatar {
		float: none;
		margin: 0 auto;
		display: inline-block;
	}

	.time i.fa {
		display: block;
		font-size: 1.250em;
	}

	.learn-more a {
		text-transform: uppercase;
		text-decoration: none;
	}
}