body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 1rem 0;
	padding: 0;
	clear: both;
}


.site-content {
	font-size: 1em;
	line-height: 1.6em;
}


//Heading Sizes
h1 a,h2 a,h3 a,h4 a {
    text-decoration: none
}

h1 {
    font-size: 3rem
}

@media screen and (max-width: 767px) {
    h1 {
        font-size:2.6rem
    }
}

h2 {
    font-size: 2.4rem
}

@media screen and (max-width: 767px) {
    h2 {
        font-size:2rem
    }
}

h3 {
    font-size: 2rem
}

@media screen and (max-width: 767px) {
    h3 {
        font-size:1.8rem
    }
}

h4 {
    font-size: 1.8rem
}

h1 a,h2 a,h3 a,h4 a {
    text-decoration: none
}

p {	margin-bottom: 1.5em; }

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	max-width: 100%;
	overflow: auto;
	padding: 10px 20px;
	margin: 2em 0;
}

code, kbd, tt, var {
	font-family: $font__code;
	font-size: 1.6rem;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.entry-content {
	h2 { margin: 3em 0 1em; }
	P { margin-bottom: 1em; }
}

a:not(.no-ul) {
	text-decoration: underline;
}
