//Colors
$color__background-body: #fafafa;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #FFC107;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color_primary: #0d3458;
$color__accent: #FFC107;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color_primary;
$color__link-visited: $color_primary;
$color__link-hover: lighten($color_primary, 20%);
$color__text-main: rgba(0,0,0,0.8);
$color_text-gray: #ABB7B7;

$color_border: rgba(0,0,0,0.08);
$color__border-button: $color__accent;
$color__border-button-hover: $color__accent;
$color__border-button-focus: $color__accent;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Typography
$font__main: 'Roboto', sans-serif;
$font__heading: 'Roboto', sans-serif;
$font__secondary: 'Raleway', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Structure
$size__site-main: 100%;
$size__site-sidebar: 25%;

//Layout
$size__content-area : 90%;
$size__content-area-max-width: 780px;