/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	font-family: $font__secondary;
	font-size: 1.6rem;
  color: #fff;
	padding: 0.5em 0 0.5em;
	position: relative;
	width: 100%;

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.2;
		background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			//todo - subnav
			background-color: #fff;
			padding: 5px 10px;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


//Only main nav links
.nav-menu > li > a {
	color: inherit;
	text-transform: uppercase;
}

[class^="menu"] {
	flex: 1 1 100%;

	.site-menu {
		padding: 0 15px;
		float: right;

		> li:not(:last-of-type) { margin-right: 1.250em; }
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

//social links
.social-links {
	font-size: 1.250em;
	flex: 0 0 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		color: $color__accent;
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: 1px solid currentColor;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

//mobile menu
.menu-toggle {
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 5%;
	right: 1%;
	z-index: 1;
}


/*--------------------------------------------------------------
## Other Navigation
--------------------------------------------------------------*/
.comment-navigation,
.post-navigation,
.paging-navigation {
	padding: 2em 0;
	text-align: left;
	overflow: hidden;

	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid #c3c3c3;

		&:hover,
		&:focus {
			border-color: #000;
		}
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.nav-previous,
.nav-next {
	width: 45%;
	display: flex;
	align-items: stretch;
}

.nav-previous { float: left; }
.nav-next { float: right; }

.post-navigation .post-title {
	font-size: 1.2em;
	font-weight: 700;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	text-decoration: underline;
}

.post-navigation .meta-nav {
	display: block;
}

.paging-navigation {
	margin-top: -2em;
	text-align: center;
}

.paging-navigation ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.paging-navigation li {
	display: inline-block;
}

.paging-navigation li a {
	padding: .3em 1.4em;
}

.paging-navigation .current {
	padding: .8em 1.1em;
	font-weight: 700;
}

//mobile media queries
@media screen and (max-width: 767px) {
	.site-menu { flex: initial; }

	.main-navigation {
		li { display: block; }
	}

	.nav-links { flex-wrap: wrap; }
	.nav-previous,
	.nav-next { width: 100%; padding-bottom: 1em; }
}
